* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  backdrop-filter: blur(8px);
  color: white;

  border-radius: 3rem;
  z-index: 100;
  width: 95%;
  max-width: var(--max-width);
  background: var(--header-bg);
  padding: 0.8rem 2rem;
}

.logo {
  font-weight: 600;
  text-wrap: nowrap;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--text-light);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  /* align-items: center; */
  gap: 1.5rem;
}

li .a-nav {
  position: relative;
  color: white;
  font-weight: 300;
}
/* .nav-link {
  position: relative;
  color: var(--text-light);
  font-size: 0.95rem;
} */
li .a-nav::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-gradient);
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
li .a-nav:hover::before {
  width: 100%;
}

.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;

  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
.visit-btn a {
  color: white;
}
.visit-btn:hover {
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
  transform: scale(1.03);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

/***************HOME******** */

section {
  min-height: 100vh;
  width: 100%;
  padding: 8rem 5%;
  position: relative;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 3rem;
  /* align-items: center;
    justify-content: center; 
    gap: 10rem;
    */
}

.home-container .img-container {
  flex: 2;
  margin-right: 20px;
}

.home img {
  width: 100%;
  height: auto;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
  flex: 3;
  gap: 1.5rem;
  margin-right: 20px;
}

.info-box h3 {
  font-size: 1.8rem;
  opacity: 0.8;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 2rem;
  font-weight: 600;
}

.info-box h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.2;
  font-weight: 600;
  opacity: 0.8;
}

.info-box span {
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-out;
  color: #000;
}

.btn:hover {
  background-color: black;
  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: black;
}

.socials i:hover {
  transform: scale(1.1);
}

/********** ABOUT ME *************/

.about-me {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  height: 100%;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  align-items: center;
}

.img-test {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
}

.img-about {
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.title-about-me {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-about-me {
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}
.title-Personal-Information {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.personal-info {
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.personal-info span {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #009dff, #ff00ff);
}

/******* SKILLS ********/
.skillsTitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}
.skills .first-child-ToFatherSkills-skillsTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.secound-child-ToFatherSkills-skillsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.secound-child-ToFatherSkills-skillsInfo .card {
  border-radius: 1rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(
    to bottom right,
    var(--color-from),
    var(--color-to)
  );
  margin: 10px;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding-top: 10px;
}

:root {
  --color-from: #e2e8f0;
  --color-to: transparent;
  --text-color: #4a5568;

  --primary-gradient: linear-gradient(to right, #009dff, #ff00ff);
  --header-bg: rgba(0, 0, 0, 0.8);
  --text-light: #fff;
  --max-width: 1200px;
}

from-slate-200 to-transparent text-neutral-600 .dark :root {
  --color-from: #1a1a29;
  --color-to: #1b1b28;
  --text-color: #e2e8f0;
}

.githublogo {
  filter: brightness(0) saturate(100%); /* تغيير لون الصورة إلى الأسود */
}

/* **********MY PROJECT *************/

.all-Projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* يحدد الحد الأدنى لارتفاع العنصر ليكون 100% من ارتفاع نافذة المتصفح  و اذا المحتوى كبر فوق 100 الارتفاع عادي بزيد*/
  min-height: 100vh;
  /* background: rgba(0, 0, 0, 0.8); */
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

/*  بتحمل مشروع  li  و كل  li الكارد ايتم هو  */
.card-list .card-item {
  list-style: none;
}
.card-item h2 {
  height: 82.8px;
  color: #551a8b;
}

/* ال كارد لينك هورابط داخل الرابط الصورة ,العنوان, شرح , زر */
.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

/* ال كارد لينك هورابط داخل الرابط الصورة ,العنوان, شرح , زر */
.card-list .card-item .card-link:hover {
  border-color: #5372f0;
}

/* الكارد امج هو صورة تبع كل مشروع */
.card-list .card-link .card-image {
  width: 100%;
  /* fham haza cod */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

/* عنوان المشروع بكل كارد */
.card-list .card-link .badge {
  color: #5372f0;
  padding: 8xp 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  /* سجل هذا الكود في الملف بدي اف */
  width: fit-content;
  border-radius: 50px;
}

/*  هو عنوان  بطاقة المشروع الاول badge.designer ال  */
.card-list .card-link .badge.designer {
  color: #b22485;
  background: #f7dff5;
}

/*  هو عنوان  بطاقة المشروع الثاني badge.developerr ال  */
.card-list .card-link .badge.developerr {
  color: #822485;
  background: #f7dfe5;
}

/* هو عنوان  بطاقة المشروع الثالث badge.gamer ال  */
.card-list .card-link .badge.gamer {
  color: #205c20;
  background: #d6f8d6;
}

/*  هو عنوان  بطاقة المشروع الخامس badge.marketer ال ل  */
.card-list .card-link .badge.marketer {
  color: #b25a2b;
  background: #ffe3d2;
}

/*  هو عنوان  بطاقة المشروع الرابع badge.editor ال  */
.card-list .card-link .badge.editor {
  color: #856404;
  background: #fff3cd;
}

/*  شايل الرابطl i و li يلي الشايل  ul الكارد ليست هي  */
.card-list .card-link .card-list {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  width: 35px;
  height: 35px;
  color: #5372f0;
  border-radius: 50%;
  margin: 30px 0 5px;
  border: 2px solid #5372f0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 20px;
  }

  .card-list .card-link:hover .card-button {
    display: none;
  }
}

/************ footer ************/

/* الكونتينر يلي شايل كل كلشي */

footer * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

footer {
  padding: 3rem 5%;
  color: #fff;
  background: #121315;
}
.footer-content .col3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
footer p {
  color: #ccc;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

footer .container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 2em;
}

.footer3 .container {
  align-items: center;
  text-align: center;
}
/* البراند هو رابط */

.footer3 li {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer3 a {
  transition: 0.3s;
  font-weight: 300;
  color: #000;
}

.footer3 .menu a:hover {
  color: #fff;
  text-decoration: none;
}

.footer3 .col3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Latest .all-Projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(12px);
  background: #f8f9fa;
}
/* Respon */
@media (max-width: 1280px) {
}
@media (max-width: 1020px) {
  .personal-info > li {
    white-space: nowrap;
  }

  section,
  footer {
    max-width: 100%; /* لا يتجاوز عرض الشاشة */
    width: 100%; /* عرض كامل */
  }

  /* footer {
    width: 1120px;
    overflow: hidden;
  } */
}
@media (max-width: 768px) {
  header {
    padding: 0.8rem 1.5rem;
  }
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;

    color: white;

    text-align: center;

    border-radius: 3rem;
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: var(--header-bg);
    flex-direction: column;
    transition: top 0.3s ease;
  }

  .about-me {
    flex-direction: column;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .nav-links.active {
    display: block;
    top: 4.5rem;
  }
  .home-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .personal-info > li {
    white-space: nowrap;
  }
  .about-me .img-test {
    display: none;
  }

  .home-container,
  .about-me {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .img-container {
    order: -1;
  }
}

@media (max-width: 600px) {
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3rem;
    display: none;
  }

  .about-me {
    flex-direction: column;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .nav-links.active {
    display: block;
  }
  .home-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .home .img-container {
    display: flex;
    flex-direction: column;
  }

  .about-me .img-test {
    display: none;
  }

  .about-me .content-about .Personal-Information .personal-info {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .btn-group {
    flex-direction: column;
  }

  .personal-info {
    grid-template-columns: 1fr;
  }

  .skill-card {
    width: 100%;
  }
}

/* التحسينات العامة */
@media (hover: hover) {
  .btn:hover {
    transform: translateY(-3px);
  }

  .socials i:hover {
    transform: scale(1.1);
  }
}

img {
  max-width: 100%;
  height: auto;
}
